/* ### Pallette ### */

/*
colors: 
#222831  color for the font
#393e46  background color
#0092ca  some special buttons color (font)
  calculator color
#d3d6db  buttons collor

*/

body{
   background-color: #393e46; 
   color:#222831;
}

.container{
    display:flex;

    justify-content: center;
}

.calculator{
    padding:2rem;
    margin-top:4rem;
    background-color:#d3d6db71;
    border-radius:5%;
}

.screen{
    background-color: #acc6aa;
    padding:3rem;
    margin-bottom:1rem;
}

.largebtn{
background-color:#d3d6db ;
font-weight: 600;
color:#0092ca;
padding:1rem;
margin: 0.5rem;
width:40%;
text-align: center;
border:solid black;

font-size:1.2rem;
border-radius:6%;
}
.btn{
    font-size:1.5rem;
    margin:0.5rem;
    padding:1rem;
    background-color: #d3d6db;
    width: 2rem;
    height: 2rem;
    border:solid;
    text-align: center;
    border-radius: 10%;
    
}

.equals-btn{
    font-weight: 800;
    background-color:#5bc6f0;
    color:#eeee;
    border: solid #222831;

}

.row{
    display:flex;
    align-items: center;
}